<div class="dashboard">
    <div class="dashboard-navbar">{{> nav}}</div>
    <div class="dashboard-tweetbox">
        <h3>Désolé, cette page n'existe pas !</h3>
        <p>Pourquoi ne pas essayer une recherche afin de trouver autre chose ?</p>
    </div>
</div>