@import "../base/_reset.css";
@import "../base/_typography.css";

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

.dashboard-navbar {
    width: 32vw;
}

nav {
    /* background-color: red; */
    height: 96vh;
    padding: 0 0 0 5em;
    border-right: 1px solid rgba(172, 172, 172, 0.432);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav_container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    height: 1.7rem;
}

.navbar-icon {
    height: 1.9rem;
}

a {
    text-decoration: none;
}

.box-link {
    /* background-color: green; */
    display: flex;
    align-items: center;
    padding: 0.5em;
    /* width: 75%; */
    margin-top: 1em;
    cursor: pointer;
    border-radius: 4rem;
}

.box-link h3 {
    margin: 0;
    padding-left: 1em;
    padding-top: 0.3em;
    color: black;
}

.linkhover:hover {
    background-color: #E8F5FE;
    transition-duration: 0.3s;
    color: #1EA1F2;
}

.linkhover:hover h3 {
    color: #1EA1F2;
}

.nav_container button {
    height: 3.3rem;
    width: 85%;
    border-radius: 3rem;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition-duration: 0.3s;
    color: #ffffff;
    background-color: #1EA1F2;
    border: none;  
    margin-top: 1.3em;
}

.nav_container button:hover {
    background-color: rgb(30, 139, 207);
}

.account {
    /* background-color: red; */
    height: 3rem;
    padding: 1em 0.5em;
    margin-right: 1.5em;
    width: 62%;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    cursor: pointer;
}

.account:hover {
    background-color: #E8F5FE;
    transition-duration: 0.3s;
}

/* .img_profile {
    height: 3rem;
} */

.avatar-img {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    margin-left: 0.5em;
}

.account-infos {
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    line-height: 1.5em;
    margin-left: 1em;
}

.account-infos h6 {
    color: grey;
    font-weight: 400;
}

.icon_arrow {
    height: 1rem;
    margin-left: 1em;
}

ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: right;
}

ul li a{
    display: block;
    padding: 8px 25px;
    color: black;
    text-align: center;
    text-decoration: none;
}

ul li ul.dropdown{
    min-width: 120px; /* Set width of the dropdown */
    background: white;
    border: 1px solid rgba(172, 172, 172, 0.432);
    border-radius: 2em;
    box-shadow: 5px 5px 5px rgba(172, 172, 172, 0.432);
    display: none;
    position: absolute;
    left: -1vw;
    bottom: 4vh;
    z-index: 999;
}

ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}

.dashboard-tweetbox {
    width: 46vw;
    text-align: start;
    border-right: 1px solid rgba(172, 172, 172, 0.432);
    /* border: 1px solid green; */
}

h1 {
    font-size: 1.3em;
    text-align: start;
    padding-left: 1em;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    padding-bottom: 1em;
    border-top: 1px solid rgba(172, 172, 172, 0.432);
    border-bottom: 0.6em solid rgba(172, 172, 172, 0.432);
}

.tweet-body-container {
    display: flex;
    padding: 1em 0 1em 0;
    width: 100%;
    height: auto;
    justify-content: space-around;
    /* border: 1px solid orange; */
}

.tweet-body-img {
    order: 1;
    margin-left: 0.5em;
}

.tweet-form {
    display: flex;
    width: 85%;
    height: 20vh;
    order: 2;
    /* border: 1px solid rosybrown; */
}

form {
    height: auto;
}

textarea {
    font-size: 1.3em;
    width: 100%;
    height: 50%;
    border: none;
    resize: none;
    padding-top: 1em;
    outline: none;
}

.tweet-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tweet-icons img {
    padding-right: 0.6em;
}

a {
    cursor: pointer;
}

.icon {
    height: 1.5em;
    filter: invert(48%) sepia(100%) saturate(412%) hue-rotate(159deg) brightness(95%) contrast(101%);
}

.submit-button {
    height: 2.5rem;
    width: 18%;
    border-radius: 4rem;
    background-color: #1EA1F2;
    opacity: 70%;
    color: white;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid #1EA1F2;
    margin-right: 0.5em;
    transition-duration: 0.3s;
    cursor: pointer;
    outline: none;
}

.user-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.post-box {
    display: flex;
    padding-top: 1em;
    border: 1px solid rgba(172, 172, 172, 0.432);
    width: 100%;
    height: auto;
}

.avatar {
    margin-left: 1em;
    order: 1;
    width: 10%;
}

.text-content {
    order: 2;
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 90%;
    height: auto;
    padding-left: 0.8em;
}

.metadata {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0.5em;
}

.author-name {
    font-size: 1em;
    font-weight: bold;
    padding-right: 1em;
}

.author-username {
    font-size: 1em;
    padding-right: 1em;
    color: grey;
}

.date {
    margin-left: -0.5em;
    font-size: 1em;
    color:grey;
}

.post-content {
    width: 90%;
    height: 10vh;
    margin-top: -0.5em;
}

.post-text {
    font-size: 1em;
}

.dashboard-search {
    width: 42vw;
}

.box-suggestions {
    margin: 1em 0 0 2em;
    padding: 0.2em 0 0 0.5em;
    background-color: #f5f8fa;
    border-radius: 1rem;
    width: 25vw;
    height: 45vh;
}

.box-suggestions h1 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(172, 172, 172, 0.432);
}